<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>拖动滑块验证</title>
</head>
<body>
  <meta charset="utf8">
    <script type="text/javascript" src="pages/js/slide.js"></script>
	<link rel="stylesheet" type="text/css" href="pages/css/slide.css">
</head>
<body>
	
	<div>
		<div id="dragContainer" ><!-- 容器初始背景 -->
		    <div id="dragBg"></div><!-- 绿色背景 -->
		    <div id="dragText"></div><!-- 滑动容器文本 -->
		    <div id="dragHandler" class="dragHandlerBg"></div>
		</div> <!--    滑块         滑块初始背景 -->
	</div>
		
</body>
</html>