body{
	display: flex; 
	flex-direction: column;
	height: 100%; 
	white-space:nowrap;
	min-width:1024px;
	max-width:100%;
	margin: 0;
	user-select: none;
	overflow : hidden��
}
*{
    margin: 0px;
    padding: 0px;
}
.containerT{
	color:white;
}
.title{
	padding:10px;
	font-size: 40px;
}
#name{
	font-size: 25px;
	margin-bottom:30px ;
}
#reback,#delete{
	display: initial;
	cursor: pointer;
	padding:20px;
	font-size: 20px;
}